// @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", ProximaNova, Arial, Tahoma, PingFangSC,
    sans-serif;
  line-height: 1.5;
  font-size: 1.6rem;
  text-rendering: optimizeSpeed;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  margin: 0;
}

button,
input {
  outline: none;
  border: none;
  background: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.global-line-sprate {
  width: 100%;
  height: 1px;
  background: rgba(22, 24, 35, 0.12);
}

@keyframes loading-icon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.global-loading-icon {
  width: 13px;
  height: 13px;
  animation: loading-icon 0.75s infinite linear;
}
