// @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", ProximaNova, Arial, Tahoma, PingFangSC,
    sans-serif;
  line-height: 1.5;
  font-size: 1.6rem;
  text-rendering: optimizeSpeed;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  margin: 0;
}

button,
input {
  outline: none;
  border: none;
  background: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

