@import "components/GlobalStyles/mixin.scss";
@import "components/GlobalStyles/variables.scss";

.btn-upload {
  color: $text-primary;
  border: 1px solid rgba(22, 24, 35, 0.12);
  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}

.btn-upload-icon {
  margin-right: 4px;
  width: 20px;
  height: 20px;
}

.btn-upload-text {
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.btn-settings {
  margin-left: 16px;
  position: relative;
  cursor: pointer;
  font-style: normal;
  padding: 4px;
}
.btn-settings-icon {
  width: 20px;
  height: 20px;
  display: block;
}

.btn-settings-not-login {
  @include d-flex();
}

.btn-settings {
  margin-left: 16px;
  cursor: pointer;
}

.btn-message-icon {
  width: 26px;
  height: 26px;
}

.btn-leter-icon {
  width: 32px;
  height: 32px;
}

.item-account-avatar {
  margin-left: 24px;
  cursor: pointer;
}

.item-avatar-img {
  width: 32px;
  height: 32px;
  border-radius: 32px;
}
