@import "components/GlobalStyles/mixin.scss";
@import "components/GlobalStyles/variables.scss";

.header-form-search {
    width: 360px;
    padding: 1.2rem 1.6rem;
    border-radius: 92px;
    background: rgb(243, 243, 243);
    border: 1px solid transparent;
}

.focused {
    border-color: #dadada;
}

.form-search {
    position: relative;
    height: 22px;
    @include d-flex(center, space-between);
}

.form-input {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.2rem;
    border: none;
    background: transparent;
    outline: none;
    padding: 0px;
    width: 252px;
    caret-color: rgb(254, 44, 85);
    font-family: $font-family;
}

.btn-close {
    height: 18px;
}

.icon-close,
.icon-loading {
    margin-right: 8px;
}

.wrap-btn {
    @include d-flex();
}
.span-spliter {
    width: 1px;
    height: 28px;
    margin: -3px 0;
    background: rgba(22, 24, 35, 0.12);
}

.btn-search {
    padding: 11px 20px 11px 16px;
    margin: -12px -16px;
    font-size: 1.8rem;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 0 92px 92px 0px;
    background: transparent;
    margin-left: 0;
    &:hover {
        background: rgba(22, 24, 35, 0.08);
    }
}

.btn-search-icon {
    width: 24px;
    height: 24px;
}
